In [ ]:
# LI_Sherry_LAB2_partA.ipynb

"""
Lab 2 Part A: Null Values and Regression

Use Python in Google Colab to download your dataset "nba.csv", to explore and summarize the data as follows:
Find values and columns in the dataset with null values.
Use Pandas include a method, fillna, which can be used to replace null values.
After eliminating all null values, the dataset is much cleaner. 
Check that all null values have been replaced: by running code: df.info()
"""

# Import Python Packages needed for the lab
import pandas as pd   
import numpy as np
from matplotlib import pyplot as plt

In [53]:
# read csv data into df
sheet_id = "1hEZaITo1sDSwsdfF-HXhAbLIgZBaNAcZo0ZPDapD9nI"
sheet_name = "nba"
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"

"""
There is a CSV import issue with height entries like “6-8” which are auto-converted into dates (e.g., 6/8/2021) in Google sheet.
The best fix is to fix it in Google Sheets. However, we have no access to reformat the data in Google Sheets.
I am treating the Height column literally as text and missing entries will be handled in the following cells.
"""
# Specify dtype for Height to be string to try to avoid date parsing issues 
#df = pd.read_csv(url)
df = pd.read_csv(url, dtype={'Height': 'string'}, parse_dates=False)

print(df.head())

            Name            Team  Number Position  Age Height  Weight  \
0  Avery Bradley  Boston Celtics       0       PG   25    6-2     180
1    Jae Crowder  Boston Celtics      99       SF   25    6-6     235
2   John Holland  Boston Celtics      30       SG   27    6-5     205
3    R.J. Hunter  Boston Celtics      28       SG   22    6-5     185
4  Jonas Jerebko  Boston Celtics       8       PF   29   6-10     231

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0

In [45]:
# check shape of dataframe
df.shape

(457, 9)

In [47]:
# check data types
print (df.dtypes)

Name                object
Team                object
Number               int64
Position            object
Age                  int64
Height      string[python]
Weight               int64
College             object
Salary             float64
dtype: object

In [48]:
# check missing values
# Height and College, Salary have missing values
print(df.isna().sum())

Name         0
Team         0
Number       0
Position     0
Age          0
Height      37
Weight       0
College     84
Salary      11
dtype: int64

In [49]:
# Show all rows where College or Salary are missing
missing_college_salary_rows = df[df['College'].isna() | df['Salary'].isna()]
print(missing_college_salary_rows)

                 Name            Team  Number Position  Age Height  Weight  \
2        John Holland  Boston Celtics      30       SG   27    6-5     205
4       Jonas Jerebko  Boston Celtics       8       PF   29   6-10     231
5        Amir Johnson  Boston Celtics      90       PF   29    6-9     240
15   Bojan Bogdanovic   Brooklyn Nets      44       SG   27    6-8     216
20     Sergey Karasev   Brooklyn Nets      10       SG   22    6-7     208
..                ...             ...     ...      ...  ...    ...     ...
445        Dante Exum       Utah Jazz      11       PG   20    6-6     190
447       Rudy Gobert       Utah Jazz      27        C   23    7-1     245
450        Joe Ingles       Utah Jazz       2       SF   28    6-8     226
454         Raul Neto       Utah Jazz      25       PG   24    6-1     179
455      Tibor Pleiss       Utah Jazz      21        C   26    7-3     256

               College      Salary
2    Boston University         NaN
4                  NaN   5000000.0
5                  NaN  12000000.0
15                 NaN   3425510.0
20                 NaN   1599840.0
..                 ...         ...
445                NaN   3777720.0
447                NaN   1175880.0
450                NaN   2050000.0
454                NaN    900000.0
455                NaN   2900000.0

[93 rows x 9 columns]

In [50]:
# Check unique values in Height and identify missing value representations such as 7-0 and 6-0.
print(df['Height'].unique())

<StringArray>
[ '6-2',  '6-6',  '6-5', '6-10',  '6-9',  '6-8',   <NA>,  '6-4',  '5-9',
  '6-7',  '6-3', '5-11', '6-11',  '7-3',  '7-2',  '6-1',  '7-1']
Length: 17, dtype: string

In [51]:
# Since only Height, College, and Salary have missing values, we can limit the replacement to these columns.
# Replace missing values with specified values
fill_values = {
    'Height': '7-0',                    # assuming '7-0' is a reasonable default height
    'College': 'NA',                    # assuming 'NA' indicates no college attended
    'Salary': df['Salary'].mean()       # replace missing Salary with mean Salary
}

df = df.fillna(value=fill_values)

# Count missing values after replacement (should be 0)
missing_after = df.isna().sum().sum()

print(missing_after)

0

In [52]:
# Check that all null values have been replaced
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    int64
 3   Position  457 non-null    object
 4   Age       457 non-null    int64
 5   Height    457 non-null    string
 6   Weight    457 non-null    int64
 7   College   457 non-null    object
 8   Salary    457 non-null    float64
dtypes: float64(1), int64(3), object(4), string(1)
memory usage: 32.3+ KB